* {
	box-sizing: border-box;
}

.top-nav {
	background: #B0C4E8;
}

.navbar {
	display: flex;
	font-size: 30px;
	padding: 5px 20px;
}

.nav-toggle {
	margin-left: auto;
	cursor: pointer;
}

.nav-list-collapsed {
	display: none;
}